  :root {
    --primary-color: #212121;
    --background-color: #111;
    --font: sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .timeline_parent_div{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;      
  }

  /* Timeline Container */
  .timeline {
    background:#151719;
    margin: 20px auto;
    width: fit-content !important;
  }

  .outer{
      width: fit-content !important;
  }
  
  /* Card container */
  .card {
    position: relative;
    max-width: 400px;
    background:#151719;
  }

  @media (max-width:600px){
      .card{
          max-width: 350px;
      }
  }

  @media (max-width:400px){
    .card{
        max-width: 300px;
    }
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid #4acaf0;
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
  @media only screen and (max-width: 400px) {
    .card:nth-child(odd)::before {
      top: -5px;
      bottom: -5px;
    }
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    background: #333;
    color: gray;
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Title of the card */
  .title {
    color: #4acaf0;
    position: relative;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid #4acaf0;
  }
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -45px;
  }
  
  .projects_parent_div{
      width: 100vw;

  }

  .project-card{
      width: 98%;
      height: fit-content;
      background-color: #151719;
      border-radius: 5px;
      box-shadow: rgba(243, 241, 241, 0.2) 0px 2px 8px 0px;
  }

  .inner-project-div{
      height: 100% !important;
      width: 90% !important;
  }

  .pro-desc{
      font-size: 15px;
  }

  .pro-btns{
      font-size: 15px;
      margin: 10px 0;
  }
  .btnDiv{
    display: inline-flex;

  }
  .aboutImg{
    /* margin-top: 100px; */
    width: 100%;
    margin-top:-1em;

}
  @media (max-width:695px){
    .btnDiv{
      flex-direction: column;
      position: relative;
      left: 50%;
      transform: translate(-50%);
  } 
  .pro-btns{
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .aboutImg{
    margin-top:0;
  }
  }

.button-34 {
  background: #00B6F2;
  border-radius: 999px;
  box-shadow: #00B6F2 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 12px 22px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
  
